<header>
	<title>Mini Mundo</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</header>
<body style="margin: 0px;
padding: 0px; background-color: #730101;font-family: 'Montserrat', sans-serif;">
	<div style="width: 500px; margin: 100px auto 0px; color: #ffffff; text-align: center;">
		<h1>Em breve, novo site</h1>
		<p>Clique <a href="https://loja.minimundo.com.br/" target="_blank" style="color: #ffffff;">aqui</a> para comprar ingressos.</p>
		<p>Clique <a href="https://grife.minimundo.com.br/" target="_blank" style="color: #ffffff;">aqui</a> para conhecer a Grife do Mini Mundo.</p>
	</div>
</body>